.journal-container, 
.journal-container * {
    font-family: "Space Mono", monospace !important; /* Use !important if there are overrides */
}

.journal-div {
    background: url("../photos/planet.jpg") no-repeat center center/cover;
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.journal-container {
    text-align: center;
    background: rgba(255, 255, 255, 0);
    padding: 2rem;
    border-radius: 15px;
    width: 70%;
    height: 100vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;     
}

.journal-textarea {
    width: 100%;
    height: 400px;
    padding: 15px;
    margin-top: 100px;
border:  none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1); /* Slightly opaque background */
    color: white;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    resize: none;
    box-sizing: border-box;
    outline: none;
    
    transition: background 0.3s ease, transform 0.2s ease;
}


.journal-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0);
    border: 0.5PX solid white;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}


.journal-button:hover {
    background: white ;
    color: black;
    box-shadow: 0px 0px 10px #ffffff00, 0px 0px 40px #ffffff95;
}

.journal-header {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
