:root {
    --color-black: #ffffff;
    --color-white: #000000;
    --font-family-mono: "Space Mono", monospace;
}

.sleep-tracker__container, 
.sleep-tracker__container * {
    font-family: var(--font-family-mono) !important; /* Use !important if there are overrides */
}

.sleep-tracker__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    background: rgb(225, 225, 225);
}

.sleep-tracker__header {
    color: var(--color-white);
    font-size: 2rem;
    margin-bottom: 10px;
}

.sleep-tracker__year-navigation {
    margin-bottom: 20px;
}

.sleep-tracker__year-navigation button {
    height: 25px;
    width: 25px;
    margin: 0 20px;
    color: var(--color-black);
    background-color: var(--color-white);
    cursor: pointer;
    border: none;
    transition: all ease;
}

.sleep-tracker__year-navigation button:hover {
    box-shadow: 0px 0px 10px var(--color-white, 0), 0px 0px 40px var(--color-white, 0.6);
}

.sleep-tracker__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sleep-tracker__color-palette {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    transition: all ease;
}

.sleep-tracker__color {
    width: 30px; /* Square size */
    height: 30px;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}

.sleep-tracker__color:hover {
    transform: scale(1.1);
}

.sleep-tracker__calendar {
    border-collapse: collapse;
    color: var(--color-white);
    font-weight: lighter;
    text-transform: uppercase;
    width: 100%;
}

.sleep-tracker__calendar th,
.sleep-tracker__calendar td {
    padding: 8px;
    text-align: center;
    border: 0.5px solid var(--color-white);
}

.sleep-tracker__calendar th {
    background-color: transparent;
}

.sleep-tracker__month-label {
    font-weight: bold;
    width: 100px;
}

.sleep-tracker__cell {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0;
}
